@using System.Security.Principal
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
		<h1>what's shakin' @User.Identity.Name?</h1>
		<h4>Here's who's speaking for you today: @ViewBag.Issuer</h4>
	</div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-responsive">
            @foreach(System.Security.Claims.Claim c in ViewBag.Claims)
			{
                <tr>
                    <td>@c.Type</td>
				    <td>@c.Value</td>
    			</tr>
			}
		</table>
	</div>
</div>